/* #enterCompiny{
    display: none;
} */
button{
    border: none;
    background: none;
    margin: 15px 0px
}
button:hover {
    cursor: pointer;
}   
.feature-button{
    display: flex;
}
.image-head{
    width: 50vw;
}
.logoImg g{
    fill:white;
}
.logoImg path{
    fill:white;
    fill-opacity:1;stroke:none;stroke-width:1.90894973;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1
}
.container{
    margin: auto;
    width: 50vw;
    
}
.compinyStyle{
    display: flex;
    justify-content: space-between;
}
.entryForm{
    display: flex;
    flex-flow: row;
}
#customer{
    display: flex;
}
#result{
    display: flex;
    align-items: center;
}
#Entry{
    width: 40vw;
    margin: auto;
}
.res{
    display: flex;
    justify-content: space-between;
}
.res h2{
    margin: 10px;
}
.moneyGet{
    color: green;
}
.moneyGot{
    color: red;
}
.hedding{
    display: block;
    justify-content: space-between;
}
/* #setelment{
    display: none;
} */

/* #entryDet{
    display: none;
} */
.amount{
    font-size: larger;
}
.element_feature{
    display: flex;
    justify-content: space-between;
   
}
.showRegister{
    display: block;
  
}
.showSetelment{
    display: block;
    
}
.hide{
    display: none;
}
.EnterCom{
    display: block;
}
.EntryDet{
    display: block;
}