/* #enterCompiny{
    display: none;
} */
body{
    background-color: #212121;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
/* font-family: 'Raleway', sans-serif; */
}
h4,h5,p{
    padding: 0;
    margin: 0;
}
button{
    border: none;
    background: none;
    margin: 15px 0px;
    color:red;
}
button:hover {
    cursor: pointer;
} 
.box{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 10px;
    color: #E8F9FD;
}
.GIVE{
    background-color: #59CE8F;
   
}
.GOT{
    background-color: #FF1E00;
}
.listComp{
    position: relative;
    background-color: #E8F9FD;
    padding: 10px 0px;
    margin: 10px;
    border-radius: 20px;
    /* width: 50vw; */
    min-height:70vh ;
}
.plusbut{
    position: absolute; 
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* z-index: -1; */
    background-color: #212121;
    
}
.plusbut button{
    color: #E8F9FD;
    
}
.summary-inner{
    display: flex;
    justify-content:space-evenly;
    /* background-color: #E8F9FD; */
    padding: 10px 10px; 
    margin: 10px;
    border-radius: 40px;
    width: fit-content;
    margin: auto;
}
.hed img{
    height: 40px;
    width: auto;
   
}
form{
    display: none;
}
#customer{
    display: flex;
    justify-content: space-between;
}
#customer div{
    display: flex;
}
  
.feature-button{
    display: flex;
}
.image-head{
    width: 50vw;
}
.logoImg g{
    fill:white;
}

.container{
    margin: auto;
    width: 50vw;
    
}
.compinyStyle{
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    color:#E8F9FD;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.compinyStyle h4{
    padding: 10px;
    align-self:center;
}
.compinyStyle div{
    padding-right: 10px;
    /* font-weight: bold; */
    font-size:larger;
}
.entryForm{
    display: flex;
    flex-flow: row;
}

#result{
    display: flex;
    align-items: center;
}
#Entry{
    width: 40vw;
    margin: auto;
}
.res{
    display: flex;
    justify-content: space-between;
}
.res h2{
    margin: 10px;
}
.moneyGet{
    color: green;
}
.moneyGot{
    color: red;
}
.hedding{
    display: block;
    justify-content: space-between;
}
/* #setelment{
    display: none;
} */

/* #entryDet{
    display: none;
} */
.amount{
    font-size: larger;
}
.element_feature{
    display: flex;
    justify-content: space-between;
   
}
.showRegister{
    display: block;
  
}
.showSetelment{
    display: block;
    
}
.hide{
    display: none;
}
.EnterCom{
    display: block;
}
.EntryDet{
    display: block;
}